$background: #fff;

:host {
    --border-radius: 2px;
    --size: 25px;

    display: inline-block;
    height: 500px;
    width: 500px;
    padding: 10px;
    border: 1px solid darken($background, 18%);
    border-radius: var(--border-radius);
    background: $background;
    font-family: sans-serif;
    letter-spacing: 1px;

    .container {
        height: 100%;
        width: 100%;

        .toolbar {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            &.phantom {
                opacity: 0;
                transition: opacity .5s ease-in-out;
                transition-delay: 1s;
            }

            .button {
                height: var(--size);
                width: var(--size);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: var(--border-radius);
                cursor: pointer;
                text-transform: capitalize;
                position: relative;

                margin: 2px;

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                font-size: 14px;

                color: darken($background, 25%);
                fill: darken($background, 25%);

                svg {
                    height: calc(var(--size) / 2);
                    width: calc(var(--size) / 2);
                    fill: inherit;
                }

                &:hover {
                    background-color: darken($background, 5%);
                }

                &.active {
                    background-color: darken($background, 50%);

                    &:hover {
                        background-color: darken($background, 55%);
                    }

                    svg {
                        fill: darken($background, 10%);
                    }
                }
            }

            .button-container {
                position: relative;

                .arrow {
                    width: 30px;
                    height: 12px;
                    position: absolute;
                    overflow: hidden;
                    top: 13px;
                    left: 0;
                    z-index: 15;

                    &:after {
                        content: "";
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        background: $background;
                        transform: rotate(45deg) translate(-40%, 25%);
                        top: 7px;
                        left: 50%;
                        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
                    }
                }

                .input-container {
                    position: absolute;
                    top: var(--size);
                    left: -50%;

                    display: flex;
                    flex-wrap: wrap;
                    width: 175px;
                    padding: 10px;
                    height: auto;
                    z-index: 10;
                    background: $background;
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
                    border-radius: var(--border-radius);

                    &[hidden] {
                        display: none;
                    }

                    input {
                        width: 100%;
                        border: none;
                        outline: none;

                        &::placeholder {
                            color: darken($background, 18%);
                        }
                    }

                    .color-selector-container {
                        display: flex;
                        width: 100%;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-top: 10px;

                        .color-selector {
                            height: 20px;
                            width: 20px;
                            border-radius: 100%;
                            cursor: pointer;
                            margin: 5px;
                        }
                    }
                }
            }

            .vertical-divider {
                width: 1px;
                background-color: darken($background, 18%);
                height: var(--size);
                margin: 0 5px;
            }

            .horizontal-divider {
                width: 100%;
                height: 1px;
                background-color: darken($background, 18%);
            }

            &.top {
                padding-bottom: 10px;
            }

            &.bottom {
                padding-top: 10px;
            }
        }

        .text-container {

            div {
                display: inline-block;

                height: 100%;
                width: 100%;
                overflow-x: visible;
                overflow-y: scroll;

                border: none;
                outline: none;

                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                resize: none;
                background: transparent;

            }
        }

        &:hover {
            .toolbar {
                &.phantom {
                    opacity: 1;
                    transition-delay: 0s;
                }
            }
        }
    }
}
